.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid rgb(182, 182, 182);
    overflow: hidden;
}

.logo{
    font-size: xx-large;
    margin: 15px 25px;
}

.logo a{
    color: inherit;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.sidebar-btns{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
}

.sidebar-btns a{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: background-color 0.3s;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.sidebar-btns a:hover{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.sidebar-btns img{
    width: 30px;
    height: 30px;
} 