.post {
    box-sizing: border-box;
    width: 480px;
    position: relative;
    margin-top: 10px;
}

.head {
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.page-logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
}

.head-titles {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.page-title {
    font-weight: 600;
    cursor: pointer;
}

.time-ago {
    color: rgb(201, 201, 201);
    font-weight: 400;
    font-size: 13px;
}

.menu-button {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.menu-btn {
    background-color: inherit;
    border: none;
    color: black;
    display: flex;
    cursor: pointer;
    font-size: large;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    margin: 0px;
    padding: 0;
    right: 0;
    top: 60%;
    z-index: 2;
    background-color: transparent;
    backdrop-filter: blur(50px);
}

.menu div {
    padding: 20px;
    color: black;
}

.report {
    color: red;
    font-weight: 500;
}

.content-pic {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.content-pic img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: cover;
    max-height: 650px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.post-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0px;
}

.post-buttons img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

.likes {
    font-size: small;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.description {
    padding: 3px 0px;
    letter-spacing: 0.25px;
}

#page-title {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.25px;
}

#comment-page-title {
    font-size: 14px;
    font-weight: 600;
    padding-right: 8px;
    cursor: pointer;
    letter-spacing: 0.25px;
}

#post-description {
    font-size: 14px;
    letter-spacing: 0.25px;
}

.view-comments {
    color: rgb(143, 143, 143);
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 0.25px;
}

#post-comment {
    font-size: 14px;
    text-align: justify;
}

.write-comment, .write-comment:focus {
    border: none;
    padding: 8px 0px;
    outline: none;
    font-size: 14px;
    background-color: inherit;
    width: 100%;
}

.post-line {
    margin: 20px 0px;
    width: 100%;
}

.comments {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    max-height: 0px;
}

.comments.show {
    max-height: 1000px;
    padding: 10px 0px;
}

.comment-user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.comment {
    display: flex;
    align-items: flex-start; /* Changed to align comments to the top */
    margin-bottom: 10px;
    width: 100%;
}

.comment-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.delete-comment{
    border: none !important;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 10px;
}

.delete-btn-img{
    width: 10px;
    height: 10px;
}
