.AddContent{
    margin-top: 40px;
    width: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.camera-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 490px;
}

.lower-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 25px;
    padding-top: 15px;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.text{
    text-align: center;
    font-size: medium;
    padding: 10px 0px;
    /* color: rgb(100, 100, 100); */
    color: rgb(75, 75, 75);
}

.addContent-buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}

.webcam-btn, .clickImage-btn, .downloadImg-btn, .upload-button{
    width: 150px;
    height: 60px;
    font-size: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.webcam-btn:hover, .clickImage-btn:hover, .downloadImg-btn:hover, .upload-button:hover{
    transition: 0.5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.webcam-pic{
    margin-left: 100px;
    border-radius: 20px;
}

.post-inputs{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.post-inputs span{
    font-size: x-large;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.Preview-post-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 820px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    padding-left: 30px;
}

.clicked-img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.picture-data span{
    font-size: larger;
    font-weight: 600;
    color: black;
}

.null-div{
    width: 250px;
    height: 200px;
    background-color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

textarea{
    width: 500px;
    height: 120px;
    resize: none;
    font-size: large;
    padding: 10px;
    margin-top: 10px;
}

textarea:focus{
    outline: none;
}

.upload{
    width: 100px;
    height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    font-size: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(81, 81, 230);
    cursor: pointer;
    color: white;
}

.upload:hover{
    background-color: rgb(49, 49, 209);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}