.search-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border: 1px solid black;
}

.search-content{
    margin-top: 10px;
}

.search-input {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
}

.search-input input {
    flex: 1;
    height: 50px;
    padding: 5px 25px;
    font-size: 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0.5px solid rgb(206, 206, 206);
    border-right: none;
}

.search-icon {
    padding: 0 10px;
    height: 30px;
}

.search-btn{
    height: 50px;
    width: 90px;
    border: 0.5px solid rgb(206, 206, 206);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.filters{
    
}